.form-control{
    position: relative;
display: flex;
flex-direction: row;
justify-content: center;
    background-color: aquamarine;
}


.popover {
    position: absolute;
    width: 170px;
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;
    top:109px;
}

.triangle{
    border-top: 10px solid black;
    border-left: 10px solid black;
    transform: rotate(45deg);
    width: 0px;
    height: 0px;
    position: absolute;
   
    
}



.popover-title{
    background-color:rgb(185, 181, 181);
}

.button {
    width: 200px;
    height: 100px;
    background-color: rgba(243, 213, 78, 0.911);
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.button:hover {
    background-color: rgb(113, 5, 5);
}